<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>github.com/hanzichi/CDNSearcher</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>07708B8E-E942-42BF-8D22-00A4D50B64C4</key>
		<array/>
		<key>3681AB50-8CD3-4BA4-BF8C-6853B1A9A3B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5ACA1AA-8023-434D-B464-8F48EE1D6A99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E78EC69-6D31-432F-BFCC-49839E43246E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EB04648-2CE1-4C3B-99C2-F3E2DCBCE04F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92B930EF-7A2A-4355-9C33-15210DF790CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07708B8E-E942-42BF-8D22-00A4D50B64C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A29BD075-2580-480C-99C4-815BDB848C7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA27194E-6971-4B07-9539-71B75BD5FDD4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BEC210BB-C3FF-4B53-A6AD-CAB50E449B46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B25DF5D0-FB76-4D70-83E2-EA156E2A7ACF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A29BD075-2580-480C-99C4-815BDB848C7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEC210BB-C3FF-4B53-A6AD-CAB50E449B46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3681AB50-8CD3-4BA4-BF8C-6853B1A9A3B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D40C4906-DEC9-4D64-BFF6-19229F1039A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E78EC69-6D31-432F-BFCC-49839E43246E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5ACA1AA-8023-434D-B464-8F48EE1D6A99</key>
		<array/>
		<key>EA27194E-6971-4B07-9539-71B75BD5FDD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92B930EF-7A2A-4355-9C33-15210DF790CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hanzichi</string>
	<key>description</key>
	<string>a tool to include a CDN file quicker</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CDNSearcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>07708B8E-E942-42BF-8D22-00A4D50B64C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  
  return 'https://' + query + ''
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA27194E-6971-4B07-9539-71B75BD5FDD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>92B930EF-7A2A-4355-9C33-15210DF790CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cdn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>/usr/local/bin/node index.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The results are from BootCDN API</string>
				<key>title</key>
				<string>Input library's name to search CDN</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B25DF5D0-FB76-4D70-83E2-EA156E2A7ACF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>/usr/local/bin/node detail.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Searching ...</string>
				<key>title</key>
				<string>Searching ...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A29BD075-2580-480C-99C4-815BDB848C7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  
  const ret = 
    query.endsWith('.css') ? 
    '&lt;link href="//' + query + '" rel="stylesheet"&gt;':
    '&lt;script src="//' + query + '"&gt;&lt;/script&gt;'

  return ret
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEC210BB-C3FF-4B53-A6AD-CAB50E449B46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D5ACA1AA-8023-434D-B464-8F48EE1D6A99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>3681AB50-8CD3-4BA4-BF8C-6853B1A9A3B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>rm -f name.json</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E78EC69-6D31-432F-BFCC-49839E43246E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cdnc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>clean the cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D40C4906-DEC9-4D64-BFF6-19229F1039A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Clean Successfully!</string>
				<key>title</key>
				<string>Clean</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6EB04648-2CE1-4C3B-99C2-F3E2DCBCE04F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07708B8E-E942-42BF-8D22-00A4D50B64C4</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3681AB50-8CD3-4BA4-BF8C-6853B1A9A3B0</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>5E78EC69-6D31-432F-BFCC-49839E43246E</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>6EB04648-2CE1-4C3B-99C2-F3E2DCBCE04F</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>92B930EF-7A2A-4355-9C33-15210DF790CE</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>A29BD075-2580-480C-99C4-815BDB848C7C</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>B25DF5D0-FB76-4D70-83E2-EA156E2A7ACF</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>BEC210BB-C3FF-4B53-A6AD-CAB50E449B46</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D40C4906-DEC9-4D64-BFF6-19229F1039A5</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D5ACA1AA-8023-434D-B464-8F48EE1D6A99</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>EA27194E-6971-4B07-9539-71B75BD5FDD4</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/hanzichi/CDNSearcher</string>
</dict>
</plist>
